<div class="rr-card select-card">
    <app-party></app-party>
    <ng-container *ngIf="!party.showParty">
      <ng-container *ngIf="!server.waitingToAccept">
        <div  class="input-field my-2 d-flex justify-content-center">
          <mat-icon matPrefix class="flex-shrink-0">search</mat-icon>
          <input id="search" [formControl]="search.search" type="text" class="form-control" placeholder="Search for any playlist!">
          <button class="clear-button" matSuffix [ngClass]="{'inactive': !search.search.dirty}" (click)="search.search.reset()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>

        <app-search class="px-3" *ngIf="search.search.valid"></app-search>
        <app-categories class="px-3" [hidden]="search.search.valid"></app-categories>
        <h1>SELECT A PLAYLIST TO START!</h1>
      </ng-container>
      <div *ngIf="server.waitingToAccept" class="waiting d-flex justify-content-center align-items-center">
        Waiting for other players!
      </div>
    </ng-container>
    <ng-container *ngIf="party.showParty">
      <rr-party-list></rr-party-list>
    </ng-container>
    <rr-button color="orange" text="Join code:" (click)="copyCode()">{{server.party_id}}</rr-button>
</div>
