@import '../../styles/colors.scss';

:host {
    display: flex;
    justify-content: center;
}

.select-card {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rr-card {
    padding: 25px;
    width: 100%;
    max-width: 800px;
    width: 800px;
}

h1 {
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}
h2 {
    font-size: small;
    font-weight: bold;
    margin: 0%;
}

.waiting {
    height: 60%;
    width: 100%;
    font-size: large;
    font-weight: bold;
}

.input-field {
    padding: 5px 10px;
    border: 3px solid $spotify-green;
    border-radius: 75px;
    outline: none;
    color: $text;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 3%;
    width: 85%;

}

input {
    background: none;
    border: none;

    &:focus {
        outline: none;
        background: none;
        box-shadow: none;
    }
}

.clear-button {
    width: max-content;
    height: max-content;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    background-color: $text;
    border-radius: 1000px;
    border: solid 4px $text;
    color: $white;

    &.inactive {
        opacity: 0.5;
    }
}