@import '../../../styles/colors.scss';

:host {
    display: contents;
}

.cover {
    width: 95%;
}

.pl-button {
    background: none;
    border: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    color: $white;
}

.playlist-displayer {
    flex-grow: 1;
    overflow-y: auto;
}
.caption {
    font-size: small;
}