@import '../../../styles/colors.scss';

.cover {
    width: 95%;
}

.pl-button {
    background: none;
    border: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    color: $white;
}

.pl-button-sm {
    background: none;
    border: none;
    display: flex;
    padding: 0;
    height: 15%;
    margin: 3px;
    width: 100%;
    color: $white;
    align-items: center;
    justify-content: start;
    padding-right: 5%;
}

.cover-sm {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.playlist-displayer {
    height: 100%;
    overflow: scroll;
}
.caption {
    font-size: small;
}