@import '../../styles/colors.scss';

.main-div {
    overflow: auto;
    width: 100%;

    @media (min-width: 1200px) {
        width: 50%;
        
    }
}

.player-row {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #00005d, #00003a);
    border-radius: 1000px;
    color: $white;

    .name {
        width: -webkit-fill-available;
        overflow: hidden;
    }

    img {
        border: solid 3px $white;
        border-radius: 10000px;
    }
}
.evalPoints {
    color: $yellow;
}

.evalStreak {
    display: flex;
    color: $orange;
    justify-content: end;
}

.details {
    width: calc(100% - 50px);
}
.pfp {
    height: 85%;
}