<ng-container *ngIf="playlists | async as playlists;">
    <div class="row playlist-displayer">
        <button *ngFor="let playlist of playlists" class="col-3 col-lg-2 pl-button" (click)="dialog.openSettingsDialog(playlist)">
              <img class="cover" [src]="playlist.images[0]?.url"/>
              <figcaption class="caption">{{ playlist.name }}</figcaption>
          </button>
    </div>

    <div #category_bar class="category-list">
        <button class="category-button"
        *ngFor="let category of categories" 
        (click)="selectCategory(category)" 
        [class.selected]="category === selectedCategory">
        {{ category.display_name }}
        </button>
    </div>
</ng-container>
