@import '../../styles/colors.scss';

.icon-div {
    position: relative;
    mat-icon {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: none;
    }

    .player-icon {
        margin: 5px;
        border: solid 5px $text;
        border-radius: 1000px;
    }

    &.selected {
        .player-icon {
            border: solid 5px $white;
        }
        mat-icon {
            display: flex;
        }
      }
}


h1 {
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}
h2 {
    font-size: small;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 3px solid $text;
    border-radius: 75px;
    outline: none;
    width: 100%;
    color: $text;
  
    &:focus {
      border-color: $red;
      color: $text;
    }
}

.or {
    color: $white;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.join-card {
    max-width: 350px;
    &.icons {
        max-height: 80dvh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}