$yellow: #F8DD4D;
$orange: #f3a639;
$orange-shadow: #efc07d;
$blue: #53B2EE;
$blue-shadow: #80c0e8;
$dark-blue: #2A56C5;
$purple: #E93680;
$red: #EA4462;
$red-shadow: #ffb0be;
$green: #2ee869;
$green-shadow: #69e08e;
$white: #FDFDFA;
$white-button: #bebebd;
$white-shadow: #a0a0a0;
$text: #261148;
$text-shadow: #423060;
$button-group-background: rgb(14 4 29 / 95%);
$spotify-green: #1ED760;