@import '../../../styles/colors.scss';

:host {
    width: 100%;
}

.upper-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

h2 {
    font-size: medium;
    font-weight: bold;
}

.player-displayer {
    display: flex;
    overflow-x: auto;
    width: 100%;
    align-items: end;
}

.player {
    overflow: hidden;
    color: $text;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: $red;
    height: 45px;
    flex: 0 0 auto;

    &.accepted {
        background-color: $green;
    }

    .pfp {
        height: 85%;
        border-radius: 1000px;
        border: solid 1px $white;
        
        
    }
    .name {
        text-wrap: nowrap;
    }
}