@import '../../../styles/colors.scss';

.upper-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

h2 {
    font-size: medium;
    font-weight: bold;
}

.player-displayer {
    display: flex;
    overflow-y: scroll;
    width: 100%;
    align-items: end;
}

.leave-button-div {
    width: 20%;
}

.leave-button {
    width: max-content;
    height: max-content;
    padding: 0;
    background: linear-gradient(to bottom, $red-shadow, $red);
    border-radius: 45px;
    font-weight: bold;
    font-size: small;
    color: $white;
    padding: 3px 5px;
}

.party-text {
    align-self: center;
    font-weight: bold;
    font-size: medium;
}

.player {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: $red;
    height: 45px;

    &.accepted {
        background-color: $green;
    }

    .pfp {
        height: 85%;
        border-radius: 1000px;
        border: solid 1px $white;
        
        
    }
}