@import '../../styles/colors.scss';
    
button {
    color: $white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.1);
    border-radius: 45px;
    padding: 5px 25px;
    font-size: medium;
    display: flex;
    border: none;

    &.red {
        background: $red;
    }
    &.orange {
        background: $orange;
    }
    &.green {
        background: $green;
    }
    &.blue {
        background: $blue;
    }
}