@import '../../../styles/colors.scss';
    
:host {
    position: relative;
    height: 24px;
    padding: 3px;
    background: $button-group-background;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: max-content;
    border: solid 1px $white;

    &.active {
        border-color: $orange;
        .indicator {
            background: $orange;
        }
    }
  
    .indicator {
      position: absolute;
      background: $white;
      height: 18px;
      border-radius: 100px;
      transition: transform 0.3s ease;
    }
  
    button {
      z-index: 1;
      background: none;
      color: $orange;
      border: none;
      width: 18px;
      height: 18px;
    }
  }