@import 'styles/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


$breakpoints: (
xs: 0px,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
);

@mixin isMd {
@include media-breakpoint-up(md) {
  @content;
  }
}
@mixin isLg {
    @include media-breakpoint-up(lg) {
      @content;
    }
}
@mixin isXl {
  @media (min-width: 1200px) {
    @content;
  }
}

.h-min-content {
  height: min-content;
}

.bold {
  font-weight: bold;
}

body {
    background: linear-gradient(to bottom right, #00005d, #018681);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    font-family: "Concert One", sans-serif !important;
}

.rr-card {
  background: linear-gradient(to top left, #00005d, #00003a);
    color: $white;
    border-radius: 45px;
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 4.1);
    margin-bottom: 2dvh;

    &.dark {
        background: linear-gradient(to top, $text, $text-shadow);
        color: $white;
    }
}

html, body { height: 100%; }

.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

.snackbar {
  position: fixed;
  bottom: 15px;
  width: 86dvw;
  background: $text-shadow;
  color: $white;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  z-index: 100000;
}

rr-toggle-button {
  position: relative;
  height: auto;
  padding: 4px;
  background: $button-group-background;
  border-radius: 25px;
  display: flex;
  align-items: center;
  width: max-content;

  .indicator {
    position: absolute;
    z-index: 1000000;
    background: $orange;
    height: 32px;
    border-radius: 100px;
    transition: transform 0.3s ease;
  }

  button {
    z-index: 1000001;
    border-radius: 28px;
    height: 100%;
    background: none;
    color: $orange;
    border: none;
    padding: 3px 20px;

    &.selected {
        color: $text;
    }
    &.disabled {
        color: #{$orange}a6;
    }
  }
}

.cdk-overlay-container {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.cdk-global-overlay-wrapper {
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex
;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 1;
}